<div class='center jumbotron'>
  <h1>Welcome to PLUNCH</h1>

  <h2>Prepare for lunch</h2>
  <p>See what you had for lunch in the past and chose something different for today.</p>
  <%= link_to 'Sign up now!', '#', class: 'btn btn-lg btn-primary' %>
</div>
