<div class='center jumbotron'>
  <h1>Prepare for lunch</h1>

  <h2>See what you had for lunch in the past and chose something different for today.</h2>
  <%= link_to 'Sign up now!', '#', class: 'btn btn-lg btn-primary' %>
</div>
