.center.jumbotron
  %h1 Welcome to PLUNCH
  %h2 Prepare for lunch
  %p See what you had for lunch in the past and chose something different for today.
  = link_to 'Sign up now!', '#', class: 'btn btn-lg btn-primary'
