@import bootstrap-sprockets
@import bootstrap

// mixins, variables, etc.

$gray-medium-light: #eaeaea

// universal

body
  padding-top: 100px
  font-family: "Comic Sans MS", Helvetica, sans-serif

// header

#logo
  float: left
  width: 50px

#home-link
  float: left
  margin: 0px 10px
  padding-top: 10px
  font-size: 1.7em
  color: #fff
  text-transform: uppercase
  letter-spacing: 2px
  font-weight: bold
  text-decoration: none
  &:hover
    color: grey
    text-decoration: none

.center
  text-align: center

// footer

.footer
  margin-top: 45px
  padding-top: 5px
  border-top: 1px solid $gray-medium-light
  color: $gray-light
  a
    color: $gray
    text-decoration: none
    &:hover
      color: $gray-darker
  small
    float: left
  ul
    float: right
    list-style: none
    li
      float: right
      margin-left: 15px

// typography

h1, h2, h3, h4, h5, h6
  line-height: 1

h1
  font-size: 3em
  letter-spacing: -2px
  margin-bottom: 30px
  text-align: center

h2
  font-size: 1.2em
  letter-spacing: -1px
  margin-bottom: 30px
  text-align: center
  font-weight: normal
  color: $gray-light

h3
  text-align: center

p
  font-size: 1.1em
  line-height: 1.7em

table
  // margin: 0 auto
  th
    text-align: left
  td.name, td.days, td.eaten
    text-align: left
    padding: 0 10px 0 0
  td.name
    min-width: 800px
